html {
    font-size: 15px;
}
.search-highlight-pill {
    background-color: #2BBBAD;
    border: none;
    color: white;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    border-radius: 5px;
}



.difference-pill {
    background-color: #33b5e5;
    border: none;
    color: white;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    border-radius: 5px;
}

.diagnostic_risk_factor-pill {
    background-color: #33b5e5;
    border: none;
    color: white;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    border-radius: 5px;
}

.prognostic_risk_factor-pill {
    background-color: #33b5e5;
    border: none;
    color: white;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    border-radius: 5px;
}

.heading-pill {
    background-color: #757575 ;
    border: none;
    color: white;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
}

.outcome-pill {
    background-color: #FF8800;
    border: none;
    color: white;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    border-radius: 5px;
}

.design-pill{
    background-color: #ff4444;
    border: none;
    color: white;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    border-radius: 5px;
}

.study_type-pill{
    background-color: #ff4444;
    border: none;
    color: white;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    border-radius: 5px;
}

.verticalLine {
    border-left: thick solid lightgray;
    margin-bottom: 40px;
}

.hitMargin{
    margin-left: 10px;
}

.disabledDiv {
    pointer-events: none;
    opacity: 0.4;
}

summary{
    outline:none;
}

.borderless td, .borderless th {
    border: none;
}

.table {
    font-size: 12px;
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}